#valueFinal {
    margin-bottom: 10px;
}

button {
    font-size: 16pt;
}

#clear {
    font-size: 19pt;
}

#expression {
    min-height: 20px;
    border: 1px solid;
    margin: 10px 0 10px 0;
}

#resultP {
    min-height: 20px;
    border: 1px solid;
    margin-bottom: 10px;
}

#resultN {
    min-height: 20px;
    border: 1px solid;
}

@media only screen and (max-width: 700px) {
    h1 {
        font-size: 5.9vw;
    }

    #valueFinal {
        width: 24%;
        min-height: 10vw;
        font-size: 8vw;
        margin-bottom: 2vw;
    }

    button {
        width: 18%;
        height: 10vw;
        font-size: 5vw;
    }

    #clear {
        font-size: 6.25vw;
    }

    label {
        font-size: 5vw;
    }

    #expression {
        height: auto;
        min-height: 10vw;
        border: 1px solid;
        margin: 10px 0 10px 0;
        font-size: 5vw;
        padding: 1vw;
    }

    #resultP {
        min-height: 10vw;
        border: 1px solid;
        margin-bottom: 10px;
        font-size: 5vw;
        padding: 1vw;
    }

    #resultN {
        min-height: 10vw;
        border: 1px solid;
        font-size: 5vw;
        padding: 1vw;
    }
}